*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    background-color: rgb(13, 2, 23);
    margin-top: 20px;
    height: 50%;
    justify-content: center;
    display: grid;
    padding: 20px;
    gap: 20px; 
    width: 80%;
    /* display: flex; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'cardc workc monitorc tablec' 
    'letf-cardc fitc societyc clinicc';
}

.left-card{
    background-color: darkblue;
    margin-bottom: 20px; 
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    grid-area: cardc;
     height: 50vh;

}

.left-card-top{
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;
}

.left-card-bottom{
    margin-left: 20px;
    color: white;
}

.work-card{
    background-color: coral;
    width: 200px;
    border-radius: 10px;
    grid-area: workcc;
    height: 48%;
}
.top-card{
    justify-content: flex-end;
    display: flex;
}

.monitor-card{
    background-color: aqua;
    width: 200px;
    border-radius: 10px;
    grid-area: monitorc;
    height: 48%;

}

.machine-card{
    justify-content: flex-end;

}
.table-card{
    background-color: brown;
    width: 200px;
    border-radius: 10px;
    grid-area: tablec;
    height: 48%;

}

.table-card-card{
    justify-content: flex-end;
}

.fit-card{
    background-color: darkgreen;
    width: 200px;
    border-radius: 10px;
    grid-area: fitc;
    height: 48%;

}

.fit-fit-card{
    justify-content: flex-end;
}

.society-card{
    background-color: darkblue;
    width: 200px;
    border-radius: 10px;
    grid-area: societyc;
    height: 48%;

}

.society-card-card{
    justify-content: flex-end;
    display: flex;}

.clinic-card{
    background-color: darkorange;
    width: 200px;
    border-radius: 10px;
    grid-area: clinicc;
    height: 48%;

}

.clinic-card-card{
    justify-content: flex-end;
}

.icon-work{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 40px;
    align-items: center;
}
.icon-work >h2{
    color: beige;
}

.icon-description{
    color: rgb(245, 215, 215);
}

.icon-description >h3{
    color: rgb(142, 129, 129);
}

.bottom-card-card{
    background-color: rgb(33, 33, 92);
    width: 100%;
    height: 70%;
    border-radius: 10px;
    justify-content: center;
    justify-content: space-between;
}

.six-cards{
    display: flex;
    gap: 20px;
}